.container
{width: 1600px;

}
.header {
    width: 1600px;
    height: 900px;
    background-image: url("../image/Layer\ 21@1X.png");
}

.sertiz {
    font-size: 48px;
    color: white;
    text-transform: uppercase;
}

.awesome {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 16pt;
}
.awesome > span
{
    text-transform: uppercase;
}
.we > span {
    color: #f1ad1d;
    text-align: left ;
}

.header-container {
    padding-top: 531px;
    padding-left: 215px;

}

.we{
    border: 1px solid white;
    width: 831px;
    font-size: 54px;
    /*padding: 34.5px 30px;*/
    text-transform: uppercase;
    height: 129pt;
    line-height: 3.3;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 20px;
    color: white;
}
.about 
{
    text-transform: uppercase;
    text-align: center;
}   
    .discription
{
    /*text-transform: uppercase;*/
font-size: 22px;
    color: black;
    text-align: center;
    margin-top: 72px;
}
.discription > span 
{
    text-transform: uppercase;
}
.headder-pattern hr
{width: 60pt;
    height: 3px;
    background: #f1ad1d;
}
.aword-image
{
    width: 272pt;
    margin: 0 auto;
}
.navbar li
{
    display: inline-block;

}
.navbar
{
    
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #f1b128;
}
.navbar>div
{
    display: inline-block;
  

}
.nav-log
{
    text-transform: uppercase;
    color: #f1b128;
   font-size: 28px
}
.nav-list a
{
    text-transform: uppercase;
    text-decoration: none;
    color:#3d3d3d;
    font-size: 18px;
    font-variant: small-caps;
    margin-left: 40px;
    } 
    .nav-list
    {
    margin-left: 400px;
    text-align: right;
} 
.headder-pattern h2
{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-transform: uppercase;
    text-align:center;

}
.headder-pattern div
{
    font-size: 1em;
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headder-pattern hr{
    width:60px;
    height: 3px;
    background-color: #f1ad1d;
    border: none;

}
.headder-pattern
{
    margin-top: 92px;

}
.photo-text{

}
.potocons{
    margin-left: auto;    
    display: inline-block;
}


.constext{
    vertical-align: top;
    display: inline-block;
    width: 569px; 
    font-size: 16px;
    margin-left: 15px;
    font-family: 'Lato', sans-serif;
    text-align: justify;

}
.constext h2{
width: 223px;
text-transform: uppercase;
margin-top: 20px;
font-family: 'Lato', sans-serif;
font-size: 18px; 

}
.conthead span{
    color:#f1ad1d;
    font-family: 'Montserrat', sans-serif;
}

.button{
background-color: #f1ad1d;
width: 176px;
height: 51px;
text-align: center;
padding-top: 15px;
box-sizing: border-box;
margin-top: 5px;
}

.button a{
text-decoration: none;
color: #ffffff;
font-size: 14px;
}
.potocons img{
    margin-left: 30px;
    margin-top: 22px;
}